 @page "/Formulario"
<link rel="stylesheet" href="/css/style.css" />

 <div class="container">
        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class="row input-container">
            <img class="logo" src="./css/Rectangle.png">
            <div class="col-xs-12">
                <div class="styled-input wide">
                    <input type="text" required />
                    <label>Name</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="styled-input">
                    <input type="text" required />
                    <label>Email</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="styled-input" style="float:right;">
                    <input type="text" required />
                    <label>Phone Number</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="styled-input wide">
                    <textarea required></textarea>
                    <label>Message</label>
                </div>
            </div>
            <div>
                <img class="your" src="./css/4.png">
            </div>
            <div class="col-xs-12">
                <div class="iconos">
                    <div class="border-icon">
                        <i class='bx bxl-instagram'></i><img class="instagram" src="./css/intagram.png">                     
                     </div>
                    <div class="border-icon">
                        <i class='bx bxl-linkedin'></i>
                        <img class="facebook" src="./css/fcebook.png">
                    </div>
                    <div class="border-icon">
                        <i class='bx bxl-facebook-circle'></i>
                        <img class="whapsaap" src="./css/whasap.png">
                    </div>
                </div>
            </div>

        </div>
    </div>
<script src="./css/script.js"></script>