@page "/Login"

@using YourPett.Models
@using YourPett.Services
@inject NavigationManager Navigator;
@inject IUsuarioService service
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager



<link rel="stylesheet" href="/css/index.css" />
<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
        <form>
            <label for="chk" aria-hidden="true">Sign up</label>
            <input type="text" name="txt" placeholder="Nombre" required="">
            <input type="email" name="email" placeholder="Email" required="">
            <input type="password" name="pswd" placeholder="Contrasena" required="">
            <button type="submit">Sign up</button>
        </form>
    </div>

    <div class="login">
        <form>
            <label for="chk" aria-hidden="true">Login</label>
            <input type="email" name="email" placeholder="Email" required="">
            <input type="password" name="pswd" placeholder="Contrasena" required="">
            <button>Login</button>
        </form>
    </div>
</div>
@code {
    private bool isLoggedIn = false;
    private Usuarios usuario = new Usuarios(); // utilizar la clase de la carpeta Data como modelo del formulario
    private async Task IniciarSesion()
    {
        try
        {
            var result = await service.IniciarSesion(usuario);
            if (result != null)
            {
                NavigationManager.NavigateTo("/Index"); // Cambia la ruta según tus necesidades

            }
        }
        catch (Exception ex)
        {
            // mensajeError = ex.Message;
        }
    }

}